<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.bookapps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".st1.St1ResultActivity"></activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VideoActivity" />
        <activity android:name=".SetsActivity" />
        <activity android:name=".KiKdActivity" />
        <activity android:name=".st1.St1PendahuluanAkutahuActivity" />
        <activity android:name=".SubTema3Activity" />
        <activity android:name=".st3.st3PenilaianActivity" />
        <activity android:name=".st3.st3AplikasiActivity" />
        <activity android:name=".st3.st3RangkumanActivity" />
        <activity android:name=".st3.st3PemantapanActivity" />
        <activity android:name=".st3.st3PengembanganActivity" />
        <activity android:name=".st3.st3PendahuluanActivity" />
        <activity android:name=".st1.St1PenilaianActivity" />
        <activity android:name=".st1.St1AplikasiActivity" />
        <activity android:name=".st1.St1PemantapanActivity" />
        <activity android:name=".st1.St1PengembanganActivity" />
        <activity android:name=".st1.St1RangkumanActivity" />
        <activity android:name=".st1.St1PendahuluanActivity" />
        <activity android:name=".PengantarActivity" />
        <activity android:name=".SubTema1Activity" />
        <activity android:name=".st2.St2PenilaianActivity" />
        <activity android:name=".st2.St2AplikasiActivity" />
        <activity android:name=".st2.St2PemantapanActivity" />
        <activity android:name=".st2.St2PengembanganActivity" />
        <activity android:name=".st2.St2RangkumanActivity" />
        <activity android:name=".st2.St2PendahuluanActivity" />
        <activity android:name=".SubTema2Activity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>